@font-face {
  font-family: "Nekst";
  src: url("../fonts/Nekst/Nekst-Black.eot");
  src: local("Nekst Black"), local("Nekst-Black"),
    url("../fonts/Nekst/Nekst-Black.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Nekst/Nekst-Black.woff2") format("woff2"),
    url("../fonts/Nekst/Nekst-Black.woff") format("woff"),
    url("../fonts/Nekst/Nekst-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"),
    url("../fonts/Gilroy/Gilroy-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy/Gilroy-Regular.woff2") format("woff2"),
    url("../fonts/Gilroy/Gilroy-Regular.woff") format("woff"),
    url("../fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.container {
  font-family: "Nekst";
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  color: #111111;
  padding: 0 47px;
}

h1 {
  margin-top: 213px;
  margin-bottom: 32px;
  max-width: 753px;
  font-size: 54px;
  font-weight: 900;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 44px;
}

.input_row {
  gap: 32px;
}

.calc_row {
  gap: 180px;
}

.button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px 12px;
  gap: 10px;
}

.button {
  cursor: pointer;
  width: 360px;
  height: 68px;
  background: #ff9514;
  border-radius: 40px;
}

.button:hover {
  background: #111111;
  transition: 0.75s;
}

.button:focus {
  background: #575757;
}

.button_text {
  width: 241px;
  font-family: "Nekst";
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
}
